*{
	margin: 0;
	padding: 0;
}

body{
	background: url(../images/2.blog/background.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* 固定导航栏样式 */
.nav {
	z-index: 1;
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: rgba(43, 118, 185,0.8);
	transition: background-color 0.6s ease-in-out 0s;
}

.nav li .a1 {
	color: #FFFFFF;
}

.nav ul {
	list-style-type: none;
	color: #ffffff;
	margin-left: 20px;
	width: 1200px;
	margin: 20px auto;
}

.nav ul>li:first-child {
	margin-right: 300px;
}

.nav li {
	display: inline;
	margin-left: 60px;
}

.nav .a1 {
	position: relative;
	font-weight: 600;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.2);
	transition: color 1s ease;
	letter-spacing:4px;
}

.nav .a1:hover {
	color: lightblue;

}

.nav .a1::after {
	--scale: 0;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 3px;
	background: lightblue;
	transform: scaleX(var(--scale));
	transform-origin: var(--x) 50%;
	transition: transform 1s cubic-bezier(0.535, 0.05, 0.355, 1);

}

.nav .a1:hover::after {
	--scale: 1;
}

.nav .a2{
	color: #FFFFFF;
	font-size: 16px;
	transition: color 1s;
}

.nav .a2:hover{
	color: lightblue;
}

/* 内容样式 */
.content{
	width: 1200px;
	height: 2150px;
	border: 1px solid rgba(255,255,255,0);
	margin: auto;
}

/* 内容导航样式 */
.contentNav{
	width: 200px;
	height: 530px;
	float: left;
	margin-top: 100px;
	margin-left: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	position: fixed;
}

.contentNav p{
	padding-left: 20px;
	color: white;
}

.contentNav ul{
	margin: 10px auto;
}

.contentNav li{
	text-align: center;
	line-height: 70px;
	width: 200px;
	height: 70px;
	font-size: 15px;
	border-radius: 10px;
	color: white;
}

.contentNav li:hover{
	background-color:lavender;
	color: #01AAED;
}

.contentNav li i{
	margin-right: 15px;
}

/* 内容文章样式 */
.contentArticle{
	width: 900px;
	height: 1900px;
	/* border: 1px solid black; */
	margin-left: 275px;
	margin-top: 70px;
}

/* 文章基本布局 */
.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8{
	width: 380px;
	height: 400px;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.7)
}

/* 文章内布局 */

/* article1 */
.article1 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article1 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article1 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article1 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article1 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article1 .title a:hover{
	color: forestgreen;
}

.article1 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article1.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article1 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article1:hover .p1 {
	opacity: 1;
	
}

.article1 .else .icon1{
	margin-left: 30px;
}
.article1 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article1 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article1 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article1 .else .icon3{
	margin-left: 20px;
}

/* article2 */
.article2 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article2 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article2 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article2 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article2 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article2 .title a:hover{
	color: forestgreen;
}

.article2 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article2.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article2 .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article2:hover .p1 {
	opacity: 1;

}

.article2 .else .icon1{
	margin-left: 30px;
}
.article2 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article2 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article2 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article2 .else .icon3{
	margin-left: 20px;
}

/* article3 */

.article3 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article3 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article3 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article3 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article3 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article3 .title a:hover{
	color: forestgreen;
}

.article3 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article3.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article3 .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article3:hover .p1 {
	opacity: 1;

}

.article3 .else .icon1{
	margin-left: 30px;
}
.article3 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article3 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article3 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article3 .else .icon3{
	margin-left: 20px;
}

/* article4 */
.article4 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article4 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article4 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article4 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article4 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article4 .title a:hover{
	color: forestgreen;
}

.article4 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article4.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article4 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article4:hover .p1 {
	opacity: 1;

}

.article4 .else .icon1{
	margin-left: 30px;
}
.article4 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article4 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article4 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article4 .else .icon3{
	margin-left: 20px;
}

/* article5 */
.article5 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article5 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article5 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article5 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article5 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article5 .title a:hover{
	color: forestgreen;
}

.article5 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article5.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article5 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article5:hover .p1 {
	opacity: 1;

}

.article5 .else .icon1{
	margin-left: 30px;
}
.article5 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article5 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article5 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article5 .else .icon3{
	margin-left: 20px;
}

/* article6 */
.article6 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article6 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article6 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article6 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article6 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article6 .title a:hover{
	color: forestgreen;
}

.article6 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article6.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article6 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article6:hover .p1 {
	opacity: 1;

}

.article6 .else .icon1{
	margin-left: 30px;
}
.article6 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article6 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article6 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article6 .else .icon3{
	margin-left: 20px;
}

/* article7 */
.article7 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article7 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article7 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article7 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article7 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article7 .title a:hover{
	color: forestgreen;
}

.article7 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article7.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article7 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article7:hover .p1 {
	opacity: 1;

}

.article7 .else .icon1{
	margin-left: 30px;
}
.article7 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article7 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article7 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article7 .else .icon3{
	margin-left: 20px;
}

/* article8 */
.article8 .origin{
	color: deepskyblue;
	margin-top: 35px;
	margin-left: 35px;
	float: left;
	font-size: 18px;
}

.article8 .date{
	width: 80px;
	height: 70px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	text-align: center;
}

.article8 .date .dateD{
	color: lightgreen;
	font-size: 40px;
	letter-spacing: 2px;
}

.article8 .date .dateMY{
	color: darkgray;
	font-size: 15px;
}

.article8 .title{
	margin-top: 65px;
	margin-left: 40px;
	font-size: 18px;
}

.article8 .title a:hover{
	color: forestgreen;
}

.article8 .content{
	width: 320px;
	height: 200px;
	background: url(../images/2.blog/article8.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 20px;
	margin-left: 28px;
}

.article8 .content .p1 {
	color: #FFFFFF;
	font-size: 16px;
	width: 260px;
	height: 140px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity .5s;
	
}
.article8:hover .p1 {
	opacity: 1;

}

.article8 .else .icon1{
	margin-left: 30px;
}
.article8 .else button{
	width: 30px;
	height: 16px;
	line-height: 14px;
	font-size: 6px;
	margin-left: 5px;
	cursor: hand;
}
.article8 .else button:hover{
	background-color: yellowgreen;
	border: none;
}
.article8 .else .icon2{
	margin-left: 130px;
	vertical-align: middle;
}
.article8 .else .icon3{
	margin-left: 20px;
}

/* 底部样式 */
.footer {
	width: 870px;
	margin-top: 70px;
	float: left;
}
/* 应用链接样式 */
.link {
	text-align: center;
	margin-top: 40px;
  color: rgba(43, 118, 185);
}

.link i {
	font-size: 35px;
	margin-left: 30px;
}

/* 版权样式 */
.copyright {
	color: white;
	text-align: center;
	margin-top: 40px;
}
