*{
	margin: 0;
	padding: 0;
}

/* 固定导航栏样式 */
.nav {
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #ede3e7;
	z-index: 1;
}

.nav li .a1 {
	/* color: #FFFFFF; */
	color: #000000;
}

.nav ul {
	list-style-type: none;
	color: #ffffff;
	margin-left: 20px;
	width: 1200px;
	margin: 20px auto;
}

.nav ul>li:first-child {
	margin-right: 300px;
}

.nav li {
	display: inline;
	margin-left: 60px;
}

.nav .a1 {
	position: relative;
	font-weight: 600;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
	transition: color 1s ease;
	letter-spacing:4px;
}

.nav .a1:hover {
	color: lightblue;
}

.nav .a1::after {
	--scale: 0;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 3px;
	background: lightblue;
	transform: scaleX(var(--scale));
	transform-origin: var(--x) 50%;
	transition: transform 1s cubic-bezier(0.535, 0.05, 0.355, 1);

}

.nav .a1:hover::after {
	--scale: 1;
}

.nav .a2{
	color: #000000;
	font-size: 16px;
	transition: color 1s;
}

.nav .a2:hover{
	color: lightblue;
}

/* 主页图片文字样式 */
.header {
	background: url(../images/1.index/background.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	overflow: hidden;
	display: flex;

}

.words {
	margin: 350px auto;
	text-align: center;
}

.words h3 {
	width: 570px;
	font-size: 28px;
	color: #ffffff;
}

/* 锚点链接样式 */
.arrow {
	font-size: 300px;
}
.arrow i{
	color: #FFFFFF;
}	

.bodyer {
	width: 1200px;
	height: 1180px;
	margin: auto;
}
/* 关于我样式 */
.about {
	text-align: center;
	margin-top: 90px;
}

.about1 {
	font-size: 30px;
}

.about2 {
	font-size: 20px;
	color: #212530;
	margin-top: 35px;
	line-height: 35px;
	letter-spacing: 4px;
}

.about3 {
	font-size: 25px;
	margin-top: 5px;
	width: 1100px;
	text-align: right;
}

.about4 {
	margin-top: 30px;
}

.about5 {
	margin-top: 40px;
	width: 120px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #FFFFFF;
	transition: background-color .5s;
}

.about5:hover {
	background-color: #ede3e7;
	color: #000000;
}

/* 文章推荐标题样式 */
.articleTitle {
	font-size: 30px;
	text-align: center;
	margin-top: 90px;
}
/* 文章样式 */
.article1 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article1.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 45px;
	float: left;
}

.article1 .p1,.article2 .p1,.article3 .p1,.article4 .p1,.article5 .p1,.article6 .p1 {
	margin-top: 80px;
	color: #aaffff;
	font-size: 20px;
	float: left;
	transition: margin-top .5s;
	width: 350px;
	margin-bottom: 10px;
}

.article1 .p2,.article2 .p2,.article3 .p2,.article4 .p2,.article5 .p2,.article6 .p2 {
	color: #FFFFFF;
	font-size: 14px;
	width: 290px;
	height: 160px;
	border: 1px solid #FFFFFF;
	margin: 30px 30px;
	opacity: 0;
	transition: opacity 1s;
}

.article1:hover .p1 ,.article2:hover .p1 ,.article3:hover .p1 ,.article4:hover .p1 ,.article5:hover .p1 ,.article6:hover .p1{
	margin-top: 50px;
}

.article1:hover .p2 ,.article2:hover .p2 ,.article3:hover .p2 ,.article4:hover .p2 ,.article5:hover .p2 ,.article6:hover .p2 {
	opacity: 1;
}

.article2 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article2.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;
	float: left;
}

.article3 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article3.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;
	float: left;
}

.article4 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article4.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 45px;
	float: left;
}

.article5 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article5.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;
	float: left;
}

.article6 {
	width: 350px;
	height: 220px;
	background: url(../images/1.index/article6.jpg);
	background-size: cover;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;
	float: left;
}

/* 底部样式 */
.footer {
	height: 680px;
}

/* 文字内容样式 */
.content {
	background: url(../images/1.index/buttom.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	overflow: hidden;
	text-align: center;
}

.content .p1 {
	font-size: 25px;
	margin-top: 150px;
}

.content .p2 {
	font-size: 20px;
	display: block;
	margin-top: 40px;
}

.content .p3 {
	font-size: 8px;
	margin-top: 30px;
}

/* 应用链接样式 */
.link {
	text-align: center;
	margin-top: 40px;
}

.link i {
	font-size: 35px;
	margin-left: 30px;
}

/* 版权样式 */
.copyright {
	color: grey;
	text-align: center;
	margin-top: 40px;
}
